/* @body
------------------------------------------------------ */


body {
  @extend %serif--medium;
  color: $slate;
  font-size: .625em;
  height:100%;
  line-height: 1.5;
  min-height: 100%;
  position: relative;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url('backgrounds/background-1-blur4px.png') no-repeat center center fixed;
  background-size: cover;
}
