export ESCAPIA_USERNAME={{ escapia_username }}
export ESCAPIA_PASSWORD={{ escapia_password }}
export REDIS_HOST=localhost
export REDIS_PORT=6379
export RACK_ENV={{ rack_env }}
export RAILS_ENV={{ rack_env }}
