<% content_for :hero_title, "Maps".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<section class="padded-top padded-bottom scallop-top beige-bg">
    <div class="layout-container">
        <div class="gw">
            <nav class="subnav g md-one-third">
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a class="current" href="maps.html">Maps</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>