#property-list {
  .layout-container {
    &:first-child {
      @include bp-until(768px) {
        display: none;
      }
    }

    &:last-child {
      margin-top: -8em;
      padding: 0;
      overflow: auto;
    }
  }
}

#properties-table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0 .5em;
  margin-bottom: 5em;

  th, td {
    font-size: 1.5em;
    text-align: center;
    border: 0
  }

  th { @extend %sans--bold; }

  td:first-child { padding: 0; }

  img { display: block; }

  .property__name {
    @extend %sans--bold;
    color: $cerulean;
  }

  .property__occupancy:after { content: ' people' }
 }
