.testimonials.normal {
    padding-left: 0;
    text-align: center;
    @include bp-at-least($breakpoint__sm){
        text-align: left;

        .persons-words,
        .persons-name,
        .persons-title {
            width: 80%;
        }
    }
    li {
        font-size: 1em;
        max-width: 500px;
    }
    &.testimonials-paginated {
        li {
            clear: left;
            margin-bottom: 3em;
            max-width: none;
        }
    }
}
.testimonials.featured {
    position: relative;

    blockquote {
        position: relative;
        z-index: 1;
    }
}
