.testimonials.normal {
    padding-left: 0;
    text-align: center;
    @include bp-until($breakpoint__sm){
        .persons-image {
            width: 60px;
        }
    }
    @include bp-at-least($breakpoint__sm){ 
        text-align: left; 

        .persons-image {
            float: left;
            margin-right: 5%;
            width: 15%;
        }
        .persons-words,
        .persons-name,
        .persons-title { 
            float: right;
            width: 80%;
        }
    }
    li {
        font-size: 1em;
        max-width: 500px;
    }
    &.testimonials-paginated {
        li {
            clear: left;
            margin-bottom: 3em;
            max-width: none;
        }
    }
}
.testimonials.featured {
    position: relative;

    &:before {
        content: "";
        background: url('https://unsplash.it/1600/800?image=536') top left no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .85;
    }
    blockquote {
        position: relative;
        z-index: 1;
    }
}